<div class="container-fluid design">
  <!-- <app-header></app-header> -->
  <div class="row header">
    <div class="col">
      <app-header></app-header>
    </div>
  </div>
  <div class="row rowHeight">
    <div class="col-3 sideBar">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col">
      <div class="row">
        <div class="col Sub-Heading">
          <app-sub-heading></app-sub-heading>
        </div>
      </div>
      <div class="row">
        <div class="col Sub-Heading2 Sub-Heading21">
          <app-sub-heading2
            [subHeadingContent]="subHeading21"
            [cssReferences]="referenceList"
          ></app-sub-heading2>
        </div>
        <div class="col Sub-Heading2">
          <app-sub-heading2
            [subHeadingContent]="subHeading22"
            [cssBackground]="backgroundProperties"
          ></app-sub-heading2>
        </div>
      </div>
    </div>
  </div>
</div>
